@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Bebas+Neue&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Agdasima', sans-serif;
    background-color: #9AC5F4;
}
.Calca{
    margin-bottom: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 200px;
    padding: 1.2em;
}
#input{
    border: 2px solid black;
    width: 279px;
    height:50px;
    margin: 0.5em 0.5em;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    right: 0.2em;
    border-radius: .25em;
    bottom: 0.2em;
}
.calculator-buttons{
    display: grid;
    grid-template-rows: auto auto auto;
    margin-top: 1em;
    width: 200px;
    padding: .2em;
    position: relative;
    right:1.5em;
    bottom: 1.6em;
}
.row{
    padding: 0.5em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5em;
}
.btn{
    padding: 1em;
    border-radius: .25em;
    font-weight: 900;
    font-size: 1.1rem;
    background-color: #164B60;
    color: black;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 2px 2px grey;
}
.btn:hover{
    transform: scale(1.2);
    box-shadow: 0px 1px 3px 0px grey;
}
.clear{
    background-color: #CD1818;
}
.delete{
    background-color: #FFD93D;
    color: black;
}
.num{
    background-color: #000000;
    color: white;
}
.mod,.divide,.multiply,.addition,.subtraction,.dot,.bracket,.equal{
    background-color: #0B2447;
    color: white;
}
.name{
    font-weight: bold;
    letter-spacing: .2rem;
}
